.header {
  padding: 16px;

  &__form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__input {
    input {
      text-transform: uppercase;
    }
  }

  &__slash {
    padding: 0 12px;
    font-size: 40px;
    line-height: 1;
    color: #FFFFFF;
  }

  &__button {
    margin-left: auto;
    min-height: 56px;
    font-size: 28px;
    line-height: 2;
    border-radius: 6px;
    background: rgba(#3cd3d3, 0.1);
  }
}
